<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start" style="color: #2471A3;">
        <ion-button mode="md" (click)="close()"><ion-icon name="arrow-back" style="color: #2471A3;"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title style="color: #2471A3;">Upload Tugas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-card >
      <ion-card-header>
        <!-- <ion-card-subtitle>{{val.kduji}}</ion-card-subtitle> -->
        <ion-card-title>Upload Tugas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form #formData="ngForm" (ngSubmit)="onSubmit();">          
          <ion-item>
            <ion-textarea placeholder="Enter more information here..." [(ngModel)]="data.komen" [ngModelOptions]="{standalone: true}"></ion-textarea>
          </ion-item>
          <!-- <input type="file" name="myfile" (change)="onFileSelect($event)" /> -->
          <input type="file" (change)="readUrl($event)" name="myfile"  />
          <ion-button type="submit" expand="block" color="success">Simpan </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-content>
  </div>