ion-content{

  --ion-background-color:#F2F4F4;
}

ion-header{

  --ion-background-color:#D6EAF8;
}
.forgetpass-content {
    padding: 10%;
    margin-top: 10vh;
    .title {
      text-align: left;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 0.85rem;
      font-weight: bold;
      color: #2471A3;
    }
    .custom-btn {
      padding: 10px 65px;
      background: #2471A3;
      color: #fff;
      margin: 0 auto;
      display: block;
      border-radius: 16px;
    }
    img {
      width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      margin-bottom: 5rem;
    }
  }
  
  .login-content {
    // background-image: url('../../assets/img/bg2.png');
    height: 100%;
    
    .title {
      text-align: left;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 0.85rem;
      font-weight: bold;
      color: #2471A3;
      margin-top: 55px;
    }
    .custom-btn {
      padding: 10px 65px;
      background: #2471A3;
      color: #fff;
      margin: 0 auto;
      display: block;
      border-radius: 16px;
    }
    .bgnya{
      opacity: 0.3;
      z-index: -1;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: max-content;
    }
    .lgn{
    // padding-top: 10vh;
    position: absolute;
    top: 0;
    display: block;
    left: 0;
    right: 0;
    .passwordIcon{
      font-size: 1.7rem !important;
      position: absolute;
      top: 13px !important;
      margin: 0 auto !important;
      z-index: 9;
      right: 4vw;
   }
    h1{
      font-weight: bold;
      text-align: center;
    }
    picture {
      img {
        filter: brightness(90%);
        z-index: -1;
      }
    }
    .logo-app {
      position: relative;
      z-index: 1000;
      // top: 5px;
      /* left: 25%; */
      width: 50%;
      border-radius: 15px;
      display: block;
      /* left: auto; */
      /* right: auto; */
      margin-left: auto;
      margin-right: auto;
    }
  
    .form-login {
      padding: 5% 10%;
      .scroll-content {
        overflow: hidden;
      }
      .title-app {
        text-align: center;
        font-weight: 600;
        letter-spacing: 2px;
      }
      img {
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
      }
      label {
        text-align: right;
        display: block;
        font-size: 0.85rem;
        // font-weight: 500;
        margin-top: 10px;
      }
      .login2{
        text-align: center;
        display: block;
        font-size: 0.85rem;
        // font-weight: 500;
        margin-top: 10px;
      }
      ion-button{
        --border-radius: 25px;
      }
      .button-native {
        padding: 1.2rem 3.2rem;
        border-radius: 2rem;
      }
      .title-login {
        text-align: left;
        font-size: 1.1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600;
        color: #626262;
        margin-bottom: 10px;
        margin-left: 2px;
        margin-top: 5vh;
      }
    }
  }
  }
  
  .login-content::after{
      content: "";
      opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
  }
  .bg-footer {
    position: relative;
    bottom: 1px;
    left: 0px;
  
    margin-top: 120px;
    img {
      width: 100%;
      height: auto;
    }
  }
